body {
  text-align: center;
  color: rgb(60, 60, 60);
  margin: 0px;
}

.title-container {
  margin-bottom: 80px;
}

.title-container h1 {
  font-size: max(5vw, 30px);
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 10px;
  margin-top: 60px;
}

.title-container h4 {
  font-size: max(1.9vw, 11px);
  font-family: 'Open Sans', sans-serif;
}

.header-container .header-image-container {
  max-width: 1000px;
  width: calc(100% - 50px);
  height: auto;
  margin: auto;
}

.header-container .slick-arrow{
  color: salmon;
  width: 40px;
  height: 40px;
  z-index: 1;
}

.header-container .slick-arrow:before{
  color: salmon;
  font-size: 40px;
}

.header-container .slick-arrow.slick-prev {
  left: -60px;
}

.header-container .slick-arrow.slick-next {
  right: -60px;
}

.header-container .header-title {
  font-size: max(2vw, 16px);
  font-family: 'chivo', sans-serif;
  margin-top: 80px;
  margin-bottom: 120px;
  width: 50%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.course {
  clear: both;
  max-width: 1000px;
  width: calc(100% - 50px);
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 60px;
  position: relative;
}

.course .course-info {
  display: block;
  width: 50%;
  float: left;
  text-align: left;
  position: absolute;
  top: 0px;
  bottom: 0px;
}

.course .course-image {
  width: 45%;
  float: right;
}

.course .course-image img {
  width: calc(100% - 10px);
  height: auto;
  border-radius: 15px;
}

.course .course-info h2 {
  font-size: 35px;
  font-family: 'Open Sans', sans-serif;
  margin-top: -10px;
  margin-bottom: 10px;
}

.course .course-description {
  font-family: 'chivo', sans-serif;
  text-align: justify;
  font-size: 20px;
  line-height: 28px;
}

.course .course-details {
  margin-top: 18px;
}

.course .course-details td {
  font-size: 16px;
  vertical-align: baseline;
  padding-top: 1px;
}

.course .course-details td:nth-child(1) {
  font-family: 'Open Sans', sans-serif;
}

.course .course-details td:nth-child(2) {
  font-family: 'chivo', sans-serif;
  padding-left: 5px;
}

.blog-container {
  background-image: url(https://balasanastarter.files.wordpress.com/2020/06/acro-yoga-active-balance-1881993.jpg);
  height: 580px;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  opacity: 0.4;
  background-color: black;
}

.blog-container .blog-information {
  position: absolute;
  color: white;
  z-index: 1;
  font-family: 'chivo', sans-serif;
  font-weight: bold;
}

.blog-container .blog-information .blog-text {
  font-size: max(min(3vw, 30px), 16px);
  margin: auto;
  width: 75%;
  min-width: 500px;
  margin-bottom: 30px;
}

.blog-container .blog-opener-button .btn {
  display: inline-flex;
  appearance: none;
  border-radius: 5px;
  height: 50px;
  font-size: max(min(3vw, 20px), 16px);
  border: none;
  padding: 0 15px;
  background-color: salmon;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.blog-container .blog-opener-button .btn:hover {
  background-color: chocolate;
}

@media only screen and (max-width: 1080px) {
  .course .course-details {
    margin-top: 13px;
  }
  .course .course-details td {
    font-size: 15px;
  }
  .course .course-description {
    font-size: 18.5px;
    line-height: 25px;
  }
}

@media only screen and (max-width: 1000px) {
  .title-container {
    margin-bottom: 40px;
  }
  .title-container h1 {
    margin-top: 30px;
  }

  .header-container .header-title {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .header-container .header-image-container {
    width: 100%;
    border-radius: unset;
  }

  .header-container .header-image-container .slick-slide img{
    width: 100%;
  }

  .header-container .header-image-container .slick-arrow.slick-prev {
    left: 20px;
  }

  .header-container .header-image-container .slick-arrow.slick-next {
    right: 20px;
  }

  .header-container .header-image-container .slick-arrow {
    opacity: 80%;
  }

  .header-container .header-title {
    width: 80%;
  }

  .course {
    min-width: 400px;
    margin: 40px auto;
  }
  .course .course-info {
    float: none;
    position: static;
    width: 100%;
  }

  .course .course-info h2 {
    font-size: 30px;
  }

  .course .course-info .course-details {
    position: static;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .course .course-image {
    float: none;
    width: 100%;
    text-align: center;
  }

  .course .course-image img {
    width: 100%;
  }

  .course .course-details td {
    font-size: 18px;
  }
}

@media only screen and (max-width: 500px) {
  .course .course-info h2 {
    font-size: 27px;
    margin-top: -5px;
  }

  .header-container .header-title {
    width: 100%;
  }
}