.title-container {
  margin-bottom: 50px;
  padding-top: 50px;

  h1 {
    font-size: 25px;
    font-size: clamp(15px, 5vw, 50px);
    font-family: Righteous;
    margin-bottom: 10px;
  }

  h4 {
    font-size: 14px;
    font-size: clamp(11px, 1.9vw, 20px);
    font-family: "Open Sans", sans-serif;
  }

  p {
    margin-bottom: 1rem;
    background-color: #343a40;
    display: inline-block;
    color: white;
    padding: 6px;
    border-radius: 5px;
    margin-top: 30px;
    font-size: 14px;
    font-size: clamp(11px, 1.9vw, 18px);
    span {
      padding: 0 20px;
      cursor: pointer;
      &:not(:last-child) {
        border-right: 1px solid rgb(100, 100, 100);
      }
    }
  }
  table {
    display: none;
    background-color: #343a40;
    padding: 6px;
    border-radius: 5px;
    margin-top: 30px;
    tr {
      td {
        font-size: 12px;
        color: white;
        padding: 0 8px;
        &:not(:last-child) {
          border-right: 1px solid rgb(100, 100, 100);
        }
      }
      &:not(:last-child) {
        border-bottom: 1px solid rgb(100, 100, 100);
        td {
          padding-bottom: 3px;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .title-container {
    p {
      margin-top: 10px;
      span {
        padding: 0 5px;
      }
    }
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 380px) {
  .title-container {
    p {
      display: none;
    }
    table {
      display: inline-block;
    }
  }
}
