.contact-page {
  padding-top: 20px;
  padding-bottom: 20px;
  h1 {
    margin: 20px;
    margin-bottom: 10px;
    font-family: "Open Sans", sans-serif;
  }
  h5 {
    font-size: 16px;
    margin-bottom: 20px;
    font-family: "chivo", sans-serif;
  }
  .form-container {
    display: inline-block;
    width: calc(95% - 10px);
    max-width: 500px;
    text-align: left;

    .form-control {
      margin-top: 20px;

      &::placeholder {
        font-size: 14px;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .contact-page {
    h5 {
      font-size: 14px;
    }
  }
}
