.header-container {
  .carousel {
    max-width: 1000px;
    width: calc(100% - 50px);
    height: auto;
    margin: auto;

    .carousel-control-prev {
      right: 100%;
      left: unset;
    }
    .carousel-control-next {
      right: unset;
      left: 100%;
    }

    .carousel-control-prev,
    .carousel-control-next {
      opacity: 100%;

      &:hover {
        opacity: 70%;
      }

      i.fas {
        color: salmon;
        font-size: 30px;
        position: relative;
        top: 20%;
      }
    }

    .carousel-indicators {
      bottom: unset;
      top: 100%;
      li {
        height: 5px;
        width: 5px;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 50%;
        background-color: black;
      }
    }
  }

  .header-title {
    font-size: 14px;
    font-size: clamp(16px, 2vw, 25px);
    font-family: "chivo", sans-serif;
    margin-top: 80px;
    margin-bottom: 120px;
    width: 50%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 1150px) {
  .header-container .carousel {
    width: 100%;

    .carousel-control-prev {
      right: unset;
      left: 0;
    }
    .carousel-control-next {
      left: unset;
      right: 0;
    }

    .carousel-control-prev,
    .carousel-control-next {
      opacity: 70%;

      &:hover {
        opacity: 100%;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .header-container {
    .header-title {
      margin-top: 60px;
      margin-bottom: 60px;
    }

    .header-title {
      width: 80%;
    }
  }
}

@media only screen and (max-width: 500px) {
  .header-container {
    .header-title {
      width: 100%;
    }
    .carousel-control-prev i.fas,
    .carousel-control-next i.fas {
      font-size: 15px !important;
    }
  }
}
